### Import Libraries

In [1]:
import pandas as pd
import numpy as np

### Load Dataset

In [2]:
data = pd.read_csv("dynamic_pricing.csv", header=0)

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Number_of_Riders         1000 non-null   int64
 1   Number_of_Drivers        1000 non-null   int64
 2   Location_Category        1000 non-null   object
 3   Customer_Loyalty_Status  1000 non-null   object
 4   Number_of_Past_Rides     1000 non-null   int64
 5   Average_Ratings          1000 non-null   float64
 6   Time_of_Booking          1000 non-null   object
 7   Vehicle_Type             1000 non-null   object
 8   Expected_Ride_Duration   1000 non-null   int64
 9   Historical_Cost_of_Ride  1000 non-null   float64
dtypes: float64(2), int64(4), object(4)
memory usage: 78.3+ KB

In [5]:
data.describe()

,Number_of_Riders,Number_of_Drivers,Number_of_Past_Rides,Average_Ratings,Expected_Ride_Duration,Historical_Cost_of_Ride
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000,1000.000000
mean,60.372000,27.076000,50.031000,4.257220,99.58800,372.502623
std,23.701506,19.068346,29.313774,0.435781,49.16545,187.158756
min,20.000000,5.000000,0.000000,3.500000,10.00000,25.993449
25%,40.000000,11.000000,25.000000,3.870000,59.75000,221.365202
50%,60.000000,22.000000,51.000000,4.270000,102.00000,362.019426
75%,81.000000,38.000000,75.000000,4.632500,143.00000,510.497504
max,100.000000,89.000000,100.000000,5.000000,180.00000,836.116419